<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会员中心</title>
    <link rel="stylesheet" th:href="${domainName + 'css/reset.css'}"/>
    <link rel="stylesheet" th:href="${domainName + 'css/iconfont.css'}"/>
    <link rel="stylesheet" th:href="${domainName + 'css/member/wallet.css'}"/>
    <link rel="stylesheet" th:href="${domainName + 'css/member/memberMain.css'}"/>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.4.2/lib/theme-chalk/index.css">

</head>
<body>
<!-- 头部-->
<div class="head" th:fragment="memberHeader">
    <div class="head-bar public">
        <div class="logo">
            <a  th:href="${domainName}">
                <img th:src="${domainName + 'images/site_logo.png'}">
            </a>
            <p><span>考试中心</span></p>
        </div>
        <ul class="nav">
            <li><a th:href="${domainName + 'member/index.html'}">首页</a></li>
            <li><a th:href="${domainName + 'member/paper.html'}">试卷</a></li>
            <li class="active"><a th:href="${domainName + 'member/account.html'}">帐号</a></li>
        </ul>
        <div class="mguser">
            <div class="mguser-box">
                <span th:text="${session.currMember.username}">tamguo</span>
                <a th:href="${domainName + 'logout.html'}">退出</a>
            </div>
        </div>
    </div>
</div>

<div class="cnav">
    <div class="public cnav_b">
        <div class="cnav_left">
            超凡五步曲
        </div>
        <div class="cnav_right">
            <ul>
                <li><span class="Cnav_t">1</span><b>新建试卷</b></li>
                <li><span>2</span>添加子卷</li>
                <li><span>3</span>添加试题</li>
                <li><span>4</span>发布试卷</li>
                <li><span>5</span>等待收益</li>
            </ul>
        </div>
    </div>
</div>

<div class="acm-container">
    <div class="cnt-box public infoCnt-box contentBox ">
        <div class="info-cnt">
            <div class="navLeft">
                <dl>
                    <dt class="down">
                        <img th:src="${domainName + 'images/member/index/person.png'}"
                             style="width: 14px;margin-right: 6px;margin-top: -5px;"> 个人信息 <i
                            class="fa fa-minus icon-w"></i>
                    </dt>
                    <div class="list">
                        <a th:href="${domainName + 'member/account.html'}">
                            <dd class="activeDd"><i></i>基本信息</dd>
                        </a>

                    </div>
                    <dt class="down">
                        <img th:src="${domainName + 'images/member/index/compnew.png'}" style="width: 14px;
	    								margin-right: 6px;margin-top: -5px;"> 我的钱包 <i class="fa fa-minus icon-w"></i>
                    </dt>
                    <div class="list">
                        <a th:href="${domainName + 'member/wallet.html'}">
                            <dd><i></i>我的积分</dd>
                        </a>
                        <a th:href="${domainName + 'member/wallet.html'}">
                            <dd><i></i>我的现金</dd>
                        </a>
                    </div>
                    <dt class="down">
                        <img th:src="${domainName + 'images/member/account/cog.png'}" style="width: 14px;
									margin-right: 6px;"> 账户信息 <i class="fa fa-minus icon-w"></i>
                    </dt>
                    <div class="list">
                        <!--<a href="/b/order">-->
                        <!--<dd><i></i>修改手机号</dd>-->
                        <!--</a>-->
                        <!--<a href="/b/orderBill">-->
                        <!--<dd><i></i>修改邮箱</dd>-->
                        <!--</a>-->
                        <a th:href="${domainName + 'member/password.html'}">
                            <dd><i></i>修改密码</dd>
                        </a>
                    </div>
                </dl>
            </div>
            <div class="info-right newsRight" id="wallet">
                <div class="info-rBox" style="padding-bottom: 20px;">
                    <div class=" user_list clearfix">
                        <ul>
                            <li>
                                <label>用户名:&nbsp;&nbsp;</label>
                                <span th:text="${member.username}"></span>
                            </li>
                            <li>
                                <label>积&nbsp;&nbsp;&nbsp;分:&nbsp;&nbsp;</label>
                                <span th:text="${member.point}"></span>
                            </li>
                            <li>
                                <label>余&nbsp;&nbsp;&nbsp;额:&nbsp;&nbsp;</label>
                                <span th:text="${member.amount + '元'}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--content end-->
</div>

<!-- 尾部-->
<div th:replace="include/memberFooter :: memberFooter"></div>

<script type="text/javascript" th:inline="javascript">
    var mainHttp = [[${domainName}]];
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16"></script>
<script src="https://cdn.jsdelivr.net/npm/element-ui@2.4.2/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
<script type="text/javascript" th:src="${domainName + 'js/member/account.js'}"></script>
</body>
</html>